page {
  background: #f2f2f2;
}

.container-bg {
  height: 170rpx;
  background: #2a76cd;
}

.refund-form {
  position: relative;
  margin: 20rpx;
  top: -180rpx;
  background-color: #fff;
  padding: 32rpx;
}

.form-group {
  position: relative;
  margin-bottom: 36rpx;
}

.form-label {
  font-size: 14px;
  color: #999999;
}

.form-control {
  font-size: 15px;
  color: #999;
  border-bottom: 1px solid #e0e0e0;
}

.channel-group {
  margin-top: 20rpx;
  justify-content: space-between;
}

.channel-icon {
  position: relative;
  width: 42rpx;
  height: 32rpx;
  margin-right: 6rpx;
  font-size: 14px;
  color: #999;
}

.channel-item {
  border: 1px solid #999999;
  border-radius: 12px;
  width: 200rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16rpx 0;
}

.channel-name {
  font-size: 14px;
  font-weight: 600;
  color: #999;
}

.channel-item-active {
  border-color: #2a76cd;
}

.channel-item-active .channel-name {
  color: #2a76cd;
}

.channel-item-active .channel-icon {
  color: #2a76cd;
}

.refund-all {
  position: absolute;
  right: 0;
  bottom: 8rpx;
  font-size: .7rem;
  color: #2a76cd;
  text-decoration: underline;
  z-index: 2;
}

.form-control-red {
  color: #f50057;
}