<view class='header'>
  <text class='header-title'>个人中心</text>
</view>
<view class="main-container container flex-column">
  <!-- <loading hidden="{{hasUserInfo}}">
    加载中...
  </loading> -->
  <view class="flex-row userinfo-row flex-one">
    <image class="userinfo-avatar" src="{{userInfo.avatarUrl}}" mode="cover"></image>
    <view class="userinfo-simple">
      <text class="userinfo-name">{{userInfo.nickName}}</text>
      <text hidden="{{!userId}}" class="userinfo-id">ID: {{ userId }}</text>
    </view>
    <!-- <icon class='iconfont icon-left1'></icon> -->
  </view>

  <view class="flex-column op-container border-radius">
    <view class='op-list'>
      <navigator url="../money/money">
        <view class='flex-row list-item'>
          <view class='flex-row list-item-l'>
            <view class='icon-wrap icon-money-wrap'>
              <icon class='iconfont icon-money'></icon>
            </view>
            <text class='op-name'>账户余额</text>
            <text class="money-txt">{{balance}}元</text>
          </view>
          <view class='list-item-r'>
            <icon class='iconfont icon-left1' size='12'></icon>
          </view>
        </view>
      </navigator>
      <navigator url="{{ item.url }}" wx:for="{{opList}}" wx:key="this">
        <view class='flex-row list-item' data-page="{{item.page}}">
          <view class='flex-row list-item-l'>
            <view class='icon-wrap' style="background: {{item.iconBg}}">
              <icon class='{{item.iconCls}}'></icon>
            </view>
            <text class='op-name'>{{ item.name }}</text>
          </view>
          <view class='list-item-r'>
            <icon class='iconfont icon-left1' size='12'></icon>
          </view>
        </view>
      </navigator>
    </view>
    <view class='flex-row scan-wrap'>
      <image class='scan-robot' src="/assets/imgs/scan.png" bindtap='scanQrcode'></image>
    </view>
  </view>
</view>