@import './font.wxss';

page, .viewport {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-one {
  flex: 1;
}

.list-item {
  height: 120rpx;
  align-items: center;
}

.list-item-l {
  flex: 1;
  align-items: center;
}

.list-item-r {
  margin-left: auto;
  padding: 0 10rpx;
}

.list-item-r .icon-left1 {
  color: #90aac8;
}

.border-radius {
  border-radius: 20rpx;
}

.text-block {
  display: block;
}

.main-container {
  flex: 1;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.header {
  position: relative;
  width: 100%;
  height: 160rpx;
  line-height: 160rpx;
  display: flex;
  justify-content: center;
  background: #2a76cd;
  color: #fff;
  z-index: 999;
}

.header-title {
  font-size: 16px;
  font-weight: 600;
}

.header-left-icon {
  position: absolute;
  left: 0;
  top: 50%;
  width: 80rpx;
  height: 60rpx;
  line-height: 60rpx;
  text-align: center;
  transform: translateY(-24rpx);
}

.btn {
  height: 90rpx;
  line-height: 90rpx;
  border-radius: 45rpx;
  background: #2a76cd;
  color: #fff;
  margin-top: 80rpx;
  font-size: 14px;
}

.input-required { 
  padding-left: 20rpx;
}

.input-required::before {
  content: '*';
  position: relative;
  color: #f50057;
  left: -8px;
  top: 2px;
}

.network-tip {
  position: absolute;
  top: 180rpx;
  background: red;
}