<view class="header">
  <view class='header-left-icon iconfont icon-back' bindtap="back"></view>
  <text class='header-title'>消费订单确认</text>
</view>
<view class='main-container container flex-column'>
  <view class='content flex-one border-radius'>
    <view class='flex-row userinfo'>
      <image bindtap="bindViewTap" class="userinfo-avatar" src="{{userInfo.avatarUrl}}" mode="cover"></image>
      <text class="userinfo-name">{{userInfo.nickName}}</text>
    </view>
    <view class='select-money-txt'>请选择：</view>

    <view class='flex-row money-wrap'>
      <view wx:for="{{selectList}}" wx:key="this" data-item="{{item}}" class='flex-column select-item border-radius {{item.id==selectItem?"recharge-item-active":""}}' bindtap='moneySelect'>
        <view class='size-txt'>{{item.size}}ML</view>
        <view class='price-txt'>售价：{{item.price/100}}元</view>
      </view>
    </view>

    <actionDialog class="action-container" show="{{showActionDialog}}" height="640rpx">
      <view class='action-money-wrap' bindtap="test">
        <text class='money-txt'>支付金额（元）</text>
        <text class='money'>{{ payMoney / 100 }}</text>
      </view>
      <view class='paytype-wrap'>
        <text class='text-block paytype-txt'>支付方式</text>
        <radio-group bindchange="paychannelChange" bindchange="channelChange">
          <view class='paychannel'>
            <label class='text-block'>
              <icon class='iconfont icon-bank'></icon><text class='paychannel-txt'>账户余额（{{balance}}元）</text>
              <radio class='radio' value="1"></radio>
            </label>
          </view>
          <view class='paychannel'>
            <label class='text-block'>
              <icon class='iconfont icon-wx'></icon><text class='paychannel-txt'>微信支付</text>
              <radio class='radio' value="2" checked='true'></radio>
            </label>
          </view>
        </radio-group>
      </view>
      <button class='btn recharge-btn' bindtap="chargeBtnHandle" bindtap="payTap">立即支付</button>
    </actionDialog>

    <!-- <view class='show-more'><text class='more-txt'>显示更多</text></view> -->
  </view>
</view>
