<!--pages/auth/auth.wxml-->
<view class='container flex-column'>
  <view class='icon-wrap flex-column flex-one'>
    <image src='/assets/imgs/logo.png'></image>
  </view>
  <button class='authbtn' open-type="getUserInfo" bindgetuserinfo="getUserInfo">微信用户授权登录</button>  
  <view class='auth-wave'></view>
</view>
